.container{
    width: 1200px;
    justify-content: space-between;
    
}

.bgRadius{
    border-radius: 0 0 8px 8px;
    box-shadow: 0 5px 5px #888888;
}

.container .box{
    background-color: aqua;
    background-position: top;
    transition: ease-in-out 4s;
    border-radius: 8px 8px 0 0;
}

.container .box.box1{
background: url('/public/project/summer.png');
background-size: cover;
}
.container .box.box2{
background: url('/public/project/troy.png');
background-size: cover;
}
.container .box.box3{
background: url('/public/project/kitchen.png');
background-size: cover;
}

.container .box:hover{
    background-position: bottom;
}