.container {
  width: 1200px;
  justify-content: space-between;
}

.bgRadius {
  border-radius: 0 0 8px 8px;
  box-shadow: 0 5px 5px #888888;
}

.container .box {
  background-color: rgb(134, 48, 126);
  background-position: top;
  transition: ease-in-out 4s;
  border-radius: 8px 8px 0 0;
}
.box.box11 {
  background: url("/public/LangingPage/agency-landinga-page.webp");
  background-size: cover;
}
.box.box22 {
  background: url("/public/LangingPage/green-bank.webp");
  background-size: cover;
}
.box.box33 {
  background: url("/public/LangingPage/brokers_lp.webp");
  background-size: cover;
}
.box.box44 {
  background: url("/public/LangingPage/e-scooter-shop.webp");
  background-size: cover;
}
.box.box55 {
  background: url("/public/LangingPage/stellar-cat.webp");
  background-size: cover;
}

.container .box:hover {
  background-position: bottom;
}
